.Div-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  padding: 10px;
  margin: 20px 20px;

}

.msg-heading {
  margin-left: 200px;
  align-items: center;
  justify-content: center;

  font-style: italic;
  font-size: bold;
}

.container {
  align-items: center;
}